<div id="gallery">
	<ul class="thumbnails">

	    {{#images}}

	    <li class="span2">        
<!--
	        <a href="https://s3.amazonaws.com/{{ s3bucket }}/{{ filename }}" class="thumbnail" rel="lightbox[hello]">
	            <img class="media-object" data-src="holder.js/260x180" src="https://s3.amazonaws.com/{{ s3bucket }}/{{ filename }}">
	        </a>
-->
	            <img class="media-object" data-src="holder.js/260x180" src="https://s3.amazonaws.com/{{ s3bucket }}/{{ filename }}">
	    </li>

	    {{/images}}
    </ul>

</div>